
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,195;1,195&display=swap');


.cardd {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 395;
  font-style: normal;
}